.tile {
  /* height: 10%;
  width: 10%; */
  height: 90%;
  width: 100%;
  /* margin: 1.5%; */
  padding-bottom: 10%;
  padding-top: 10%;
    /* background-color: black; */
}

.tile-button {
  height: 100%;
  width: 100%;
  background-color: red;
}

.tile-button-alive {
  height: 100%;
  width: 100%;
  background-color: blue;
} 
