.tile {
  height: 5%;
  width: 100px;
  margin: 5%;
  /* back10ound-color: black; */
  background-color: black;
}

.tile-button {
  /* width: 100%;
  height: 100%; */
  height: 100%;
  width: 100%;
  background-color: black;
}

.tile-button-alive {
  /* width: 100%;
  height: 100%; */
  height: 100%;
  width: 100%;
  background-color: white;
}
