.tile-alive {
  /* height: 10%;
  width: 10%; */
  height: 100%;
  width: 100%;
  margin: 5%;
  background-color: black;
}

.tile-dead {
  /* height: 10%;
  width: 10%; */
  height: 100%;
  width: 100%;
  margin: 5%;
  background-color: white;
}

/* .tile-button {
  height: 100%;
  width: 100%;
  background-color: black;
}

.tile-button-alive {
  height: 100%;
  width: 100%;
  background-color: white;
} */
